
/* Hide Native button */
[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}
 
/* Style Upload Button */
[type="file"] + label {
    background: #f15d22;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
        font-family: 'Poppins', sans-serif;
        font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;

    &:hover {
        background-color: darken(#f15d22, 50%);
    }
      
    &.btn-1 {
      background-color: #f79159;
      box-shadow: 0 6px darken(#f79159, 10%);
      transition: none;
  
      &:hover {
        box-shadow: 0 4px darken(#f79159, 10%);
        top: 2px;
      }
    }

    
}

/* Is Javascript available? */
.js [type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}
 
.no-js [type="file"] + label {
  display: none;
}

body {
  text-align: center;
}

form {
  display: inline-block;
}

h1 {
  font-size: 36px;
  text-align: left;
}

h2 {
  font-size: 24px;
  text-align: left;
}

.container {
  width: 100%;
  margin-left: 0px;
}

form {
  width: 100%;
}

.submit-container {
  position: relative;
  bottom: 0px;
  height: 300px;
  width: 100%;
  text-align: center;

  /* Shadow */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit-container button {
  /* Position */
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  /* Size */
  width: 80%;
  height: 150px;
  
  /* Style */
  font-size: 24px;
  background-color: darkblue;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}